*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.a{
    width: 100%;
    height: 100vh;
    background-image: url(/images/bl2.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    margin-top: 3rem;
    width: 7rem;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    color: #0a0a0a;
    padding: 0.7rem 1.6rem;
    background: transparent;
    border: 0.03rem solid skyblue;
    border-radius: 1.4rem;
    cursor: pointer;
    font-size: 1rem;
}

.content{
    color: #0a0a0a;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

h1{
    font-size: 2rem;
    margin: 0.07 0 0.01;
}

.side-bar{
    width: 50px; 
    height: 100vh;
    background: linear-gradient(#00545b, #000729);
    position: absolute;
    right: 0;
    top: 0;
}

.menu{
    display: block;
    width: 2rem;
    margin: 2.8rem auto 0;
    cursor: pointer;
    margin-bottom: 2rem;
}

img{
    width: 2rem;
}

.social-link img, .useful-link img{
    width: 2rem;
    margin: 0.6rem;
    cursor: pointer;
}

.social-link{
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.useful-link{
    text-align: center;
    position: absolute;
    bottom: 2rem;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

.bubbles img{
    width: 3rem;
    animation: bubble 5s linear infinite;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 3rem;

}
.bubbles img:nth-child(2){
    animation-delay: 2s;
    width: 2.5rem;

}
.bubbles img:nth-child(3){
    animation-delay: 5s;
    width: 2rem;

}
.bubbles img:nth-child(4){
    animation-delay: 1s;
    width: 1.5rem;

}
.bubbles img:nth-child(5){
    animation-delay: 2s;
    width: 1rem;

}
.bubbles img:nth-child(6){
    animation-delay: 4s;
    width: 2rem;

}
.bubbles img:nth-child(7){
    animation-delay: 6s;
    width: 1.5rem;


}
.bubbles img:nth-child(8){
    animation-delay: 1s;
    width: 2rem;

}
.bubbles img:nth-child(9){
    animation-delay: 3s;
    width: 2.5rem;

}
.bubbles img:nth-child(10){
    animation-delay: 7s;
    width: 3rem;

}