*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.a{
    width: 100%;
    height: 100vh;
    background-image: url(/images/bl2.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 7rem;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    color: #0a0a0a;
    padding: 0.7rem 1.6rem;
    background: transparent;
    border: 0.03rem solid skyblue;
    border-radius: 1.4rem;
    cursor: pointer;
    font-size: 1rem;
}

.content{
    color: #0a0a0a;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

h1{
    font-size: 2rem;
    margin: 0.07 0 0.01;
}

.side-bar{
    width: 50px; 
    height: 100vh;
    background: linear-gradient(#00545b, #000729);
    position: absolute;
    right: 0;
    top: 0;
}

.menu{
    display: block;
    width: 2rem;
    margin: 2.8rem auto 0;
    cursor: pointer;
}